/* CSS Document for Screens */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    margin: 0;
    padding: 0;
}